@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.hero_section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.hero_section header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 0 5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.hero_section header .header_links-aboutus {
  display: flex;
  gap: 20px;
}
.hero_section header .header_links-aboutus a {
  text-decoration: none;
  color: black;
}
.hero_section header .header_secure_delivery {
  display: flex;
}
.hero_section header .header_need_help {
  display: flex;
  gap: 20px;
}
.hero_section header a {
  text-decoration: none;
  color: black;
}
.hero_section header select {
  outline: none;
  border: none;
  font-weight: 300;
  background-color: transparent;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.hero_section .header_logo_search_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
  padding-top: 30px;
}
.hero_section .header_logo_search_container .header_logo_container {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.hero_section .header_logo_search_container .header_logo_container .logo_image {
  width: 200px;
  height: auto;
}
.hero_section .header_logo_search_container .header_logo_container .logo_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero_section .header_logo_search_container .header_search_container {
  display: flex;
  align-items: center;
  width: 70%;
}
.hero_section .header_logo_search_container .header_search_container .search_container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 3px solid #bce3c9;
  border-radius: 5px;
  width: 100%;
}
.hero_section .header_logo_search_container .header_search_container .search_container select {
  border: none;
  border-right: 1px solid #cacaca;
  font-weight: 300;
  background-color: transparent;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}
.hero_section .header_logo_search_container .header_search_container .search_container input {
  border: none;
  outline: none;
  font-weight: 300;
  background-color: transparent;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.hero_section .header_logo_search_container .header_search_container .search_container button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.hero_section .header_logo_search_container .header_cart_container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.hero_section .header_logo_search_container .header_cart_container select {
  border: none;
  outline: none;
  font-weight: 300;
  background-color: transparent;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}
.hero_section .header_logo_search_container .header_cart_container a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.hero_section .header_logo_search_container .header_cart_container .location {
  display: flex;
  border: 1px solid rgba(221, 214, 214, 0.5529411765);
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 4px 6px 6px 0px rgb(219, 213, 213);
}
.hero_section .all_categories_container {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.hero_section .all_categories_container .all_categories_title {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero_section .all_categories_container .all_categories_title select {
  border: none;
  outline: none;
  font-weight: 300;
  background-color: transparent;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}
.hero_section .all_categories_container .all_categories_title a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.hero_section .all_categories_container .all_categories_title p {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.hero_section .all_categories_container .all_categories_title .browse_all_categories {
  border: 1px solid #3bb77e;
  display: flex;
  align-items: center;
  background-color: #3bb77e;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.hero_section .all_categories_container .all_categories_title .browse_all_categories select {
  color: white;
}
.hero_section .all_categories_container .all_categories_title .deals {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero_section .all_categories_container .contact_us_container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
}
.hero_section .all_categories_container .contact_us_container img {
  width: 35px;
  height: auto;
}
.hero_section .all_categories_container .contact_us_container h2 {
  color: #3bb77e;
  font-size: 26px;
  font-weight: 700;
}
.hero_section .all_categories_container .contact_us_container p {
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.products_main_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  padding: 0 5rem;
}
.products_main_container .category_filter_container {
  width: fit-content;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 5px 20px 0px rgb(219, 213, 213);
  border-radius: 15px;
  padding: 1.5rem;
}
.products_main_container .category_filter_container .category_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.products_main_container .category_filter_container .category_list .category_item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px 10px;
  width: 16rem;
  margin: 5px 0;
  justify-content: space-between;
}
.products_main_container .category_filter_container .category_list .category_item div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.products_main_container .category_filter_container .category_list .category_item img {
  width: 30px;
  height: auto;
}
.products_main_container .category_filter_container .category_main_container h2 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.products_main_container .category_filter_container .price_filter_container .price_filter_range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.products_main_container .products_container {
  padding: 10px;
}/*# sourceMappingURL=index.css.map */