@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

$font-lato: "Lato", sans-serif;
$font-quicksand: "Quicksand", sans-serif;

$padding_body: 0 5rem;

$font-body: 16px;
$font-small: 15px;
$font-very-small: 13px;
$font-heading: 50px;
$font-subheading: 30px;
$font-subsubheading: 26px;
$font-supersubheading: 23px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: $font-lato;
  color: #253d4e;
}

.hero_section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  //   padding: $padding_body;

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: $font-lato;
    font-weight: 300;
    padding: $padding_body;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: $font-small;
    border-bottom: 1px solid #e0e0e0;

    .header_links-aboutus {
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .header_secure_delivery {
      display: flex;
    }
    .header_need_help {
      display: flex;
      gap: 20px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    select {
      outline: none;
      border: none;
      font-weight: 300;
      background-color: transparent;
      font-size: $font-body;
      font-family: $font-lato;
    }
  }

  .header_logo_search_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $padding_body;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    padding-top: 30px;
    // gap: 0px;
    // justify-content: space-between;

    .header_logo_container {
      display: flex;
      justify-content: space-between;
      width: 55%;

      .logo_image {
        width: 200px;
        height: auto;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      //   align-items: center;
      //   gap: 10px;
    }

    .header_search_container {
      display: flex;
      align-items: center;
      width: 70%;
      .search_container {
        display: flex;
        // gap: 10px;
        justify-content: space-between;
        // border: 1px solid red;
        padding: 15px;

        border: 3px solid #bce3c9;
        border-radius: 5px;
        width: 100%;
        select {
          border: none;
          border-right: 1px solid #cacaca;

          //   outline: none;
          font-weight: 300;
          background-color: transparent;
          font-size: $font-small;
          font-family: $font-quicksand;
        }
        input {
          border: none;
          outline: none;
          font-weight: 300;
          background-color: transparent;
          font-size: $font-small;
          font-family: $font-lato;
          //   flex: 1;
          //   width: 100%;
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: $font-small;
          font-family: $font-lato;
        }
        .input_search {
          //   display: flex;
          //   width: 100%;
          //   gap: 10px;
          //   width: 100%;
        }
      }
    }

    .header_cart_container {
      display: flex;
      width: 40%;
      justify-content: space-between;
      align-items: center;
      select {
        border: none;
        outline: none;
        font-weight: 300;
        background-color: transparent;
        font-size: $font-small;
        font-family: $font-quicksand;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: $font-small;
        font-family: $font-quicksand;
        font-weight: 300;
      }

      .location {
        display: flex;
        border: 1px solid #ddd6d68d;
        border-radius: 5px;
        padding: 5px 15px;
        box-shadow: 4px 6px 6px 0px rgb(219, 213, 213);
      }
    }
  }

  .all_categories_container {
    display: flex;
    justify-content: space-between;
    padding: $padding_body;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    .all_categories_title {
      display: flex;
      align-items: center;
      gap: 3rem;
      select {
        border: none;
        outline: none;
        font-weight: 300;
        background-color: transparent;
        font-size: $font-small;
        font-family: $font-quicksand;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: $font-small;
        font-family: $font-lato;
        font-weight: 300;
      }
      p {
        font-size: $font-small;
        font-family: $font-lato;
        font-weight: 300;
      }
      .browse_all_categories {
        border: 1px solid #3bb77e;
        display: flex;
        align-items: center;
        background-color: #3bb77e;
        color: white;
        border-radius: 5px;
        padding: 10px;
        select {
          color: white;
        }
        // gap: 10px;
      }
      .deals {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .contact_us_container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: $font-quicksand;
      img {
        width: 35px;
        height: auto;
      }
      h2 {
        color: #3bb77e;
        font-size: $font-subsubheading;
        font-weight: 700;
      }
      p {
        font-size: $font-very-small;
        font-family: $font-quicksand;
        font-weight: 300;
      }
    }
  }
}

.products_main_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  padding: $padding_body;
  // padding-top: 20px;
  // padding-bottom: 20px;
  .filters_sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .category_filter_container {
      // border: 1px solid #e0e0e0;
      width: fit-content;
      border: 1px solid #e0e0e0;
      box-shadow: 2px 5px 20px 0px rgb(219, 213, 213);
      border-radius: 15px;

      // border-radius: 5px;
      padding: 1.5rem;
      .category_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .category_item {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          padding: 10px 10px;
          width: 16rem;
          margin: 5px 0;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          img {
            width: 30px;
            height: auto;
          }
        }
      }
      .category_main_container {
        h2 {
          font-size: $font-subsubheading;
          font-weight: 700;
          margin-bottom: 1rem;
          font-family: $font-quicksand;
        }
      }
    }
    //   .products_container {
    //     // border: 1px solid #e0e0e0;
    //     // border-radius: 5px;
    //     padding: 10px;
    //   }
    .price_filter_container {
      display: flex;
      justify-content: center;
      border: 1px solid #e0e0e04a;
      box-shadow: 2px 5px 20px 0px rgb(219, 213, 213);
      border-radius: 15px;
      padding: 1.5rem;
      max-width: 19rem;

      .price_filter_item {
        font-size: $font-subsubheading;
        font-weight: 700;
        font-family: $font-quicksand;
      }

      .color_filter_container {
        display: flex;
        gap: 15px;
        flex-direction: column;
        .item_condition_filter_item,
        .color_filter_item {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      .filter_button_container {
        button {
          border: none;
          outline: none;
          background-color: #3bb77e;
          // filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
          color: white;
          font-size: $font-small;
          font-family: $font-lato;
          font-weight: 300;
          display: flex;
          // align-items: center;
          gap: 10px;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: $font-small;
          font-family: $font-quicksand;
        }
      }
      .price_filter_range {
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          font-size: $font-small;
          font-family: $font-lato;
        }
        input[type="range"] {
          accent-color: #3bb77e;
        }
      }
    }
    .price_filter_main_container {
      width: 16rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      .fillbyprice_image {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: auto;
        right: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .new_products_main_container {
      border: 1px solid #e0e0e068;
      box-shadow: 2px 5px 20px 0px rgb(219, 213, 213);
      border-radius: 15px;
      padding: 1.5rem;
      max-width: 19rem;

      .new_products_content_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .new_products_item {
          font-size: $font-subsubheading;
          font-weight: 700;
          font-family: $font-quicksand;
        }
        .newProducts_container {
          //   display: flex;
          //   flex-direction: column;
          //   gap: 1.5rem;
        }
      }
      .product_one {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 0;

        h4 {
          font-size: $font-body;
          font-weight: 700;
          font-family: $font-lato;
          color: #3bb77e;
        }

        img {
          width: 55px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  .products_container {
    .herobanner_slider {
      .swiper {
        border-radius: 1rem;
        width: 100%;
        height: 27rem;

        .swiper-wrapper {
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            border-radius: 1rem;
            background-image: url("img/herobanner.png");
            // background: #682323;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 3rem;
            // img {
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            // }
            .herobanner_content_container {
              display: flex;
              flex-direction: column;
              gap: 3rem;
              align-items: flex-start;
              max-width: 40rem;
              .herobanner_heading {
                text-align: left;
                h1 {
                  font-size: $font-heading;
                  font-family: $font-quicksand;
                  line-height: 1;
                  font-weight: bolder;
                  color: #253d4e;
                }
                h2 {
                  font-size: $font-subheading;
                  font-family: $font-lato;
                  font-weight: 300;
                  padding-top: 1rem;
                  color: #7e7e7e;
                }
              }
            }
          }
        }
        .swiper-pagination-bullet-active {
          background-color: #3bb77e;
        }
        .swiper-pagination-bullet {
          // background-color: #3bb77e;
          border: 1px solid #000000;
        }
      }

      .Subscribe {
        // border: 1px solid #d53d3d;
        border-radius: 2rem;
        background-color: white;
        // padding: 0px 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          margin-left: 1rem;
          filter: opacity(0.5);
        }
        input {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: $font-small;
          font-family: $font-lato;
          font-weight: 300;
        }
        button {
          border: none;
          outline: none;
          border-radius: 2rem;
          background-color: #3bb77e;
          padding: 15px 25px;
          // background-color: transparent;
          font-size: $font-small;
          color: white;
          font-family: $font-quicksand;
        }
      }
    }
    .deals_of_the_day_container {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: space-between;
      .dod_card {
        // border: 2px solid;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 22.3rem;

        .dod_banner_image {
          background-image: url(img/dod_bg_image.png);
          width: 20rem;
          aspect-ratio: 12 / 11;
          border-radius: 15px;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:nth-child(2) .dod_banner_image {
          background-image: url(img/dod_bgimage_2.png);
        }

        .dod_content {
          display: flex;
          margin: -12rem;
          gap: 15px;
          flex-direction: column;

          // flex-direction: row;
          // gap: 1rem;
          .countdown {
            display: flex;
            gap: 15px;
            justify-content: center;

            .time-box {
              display: flex;
              flex-direction: column;
              gap: 3px;
              height: fit-content;
              border-radius: 5px;
              padding: 3px;
              align-items: center;

              background-color: #ffffff;
              .number {
                font-size: $font-subsubheading;
                font-weight: 700;
                font-family: $font-quicksand;
                color: #3bb77e;
              }
              .label {
                font-size: $font-small;
                font-family: $font-lato;
              }
            }
          }
        }
      }
      .popular_products_cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        border: 1px solid #e0e0e0;
        box-shadow: 1px 1px 12px 0px #adadad78;

        max-width: 16rem;
        border-radius: 15px;
        padding: 1rem;
        .popular_card_content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .popular_products_cards_image {
            width: 100%;
            height: auto;
            img {
              // aspect-ratio: 1/1;
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
          .popular_card_category_rating {
            display: flex;
            justify-content: space-between;
            .popular_card_rating {
              display: flex;
              gap: 5px;
            }
          }
          .category_name {
            font-size: $font-body;
            font-family: $font-quicksand;
            font-weight: bold;
          }
        }
        .popular_card_price {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .popular_card_price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            display: flex;
            gap: 15px;
            .old-price {
              text-decoration: line-through;
              color: #7e7e7e;
              font-size: $font-very-small;
              font-weight: 300;
            }
            .new-price {
              color: #3bb77e;
              font-weight: bolder;
              font-size: $font-body;
            }
          }
        }
      }
      .dod_shopnow {
        background-image: url(img/dod_image.png);
        width: 27.5rem;
        aspect-ratio: 15.3 / 9;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 15px;
        display: flex;
        padding: 3rem 4rem;
        .dod_shopnow_content_container {
          // border: 1px solid;
          max-width: 15rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-family: $font-quicksand;
            font-size: $font-supersubheading;
            font-weight: bold;
          }
          button {
            display: flex;
            gap: 5px;
            width: max-content;
            border: none;
            outline: none;
            background-color: #3bb77e;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
          }
        }
      }
    }

    .add_to_cart_button {
      // display: flex;
      button {
        display: flex;
        gap: 5px;
        border: none;
        outline: none;
        background-color: #def9ec;
        color: #3bb77e;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
  }

  .product_category_main_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 2.5rem 0rem;
    justify-content: space-between;
    .product_heading {
      h2 {
        font-size: $font-subheading;
        font-family: $font-quicksand;
      }
    }
    .product_category_list {
      ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;

        li {
          font-size: $font-small;
          font-family: $font-lato;
          font-weight: 400;
          //   color: #7e7e7e;
        }
        li:nth-child(1) {
          color: #3bb77e;
        }
      }
    }
  }

  .popular_products_cards_contianer {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
      // box-shadow: 5px 10px #888888;

    justify-content: space-between;

    .popular_products_cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid #e0e0e0;
      max-width: 16rem;
      border-radius: 15px;
      padding: 1rem;
      .popular_card_content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .popular_products_cards_image {
          width: 100%;
          height: auto;
          img {
            // aspect-ratio: 1/1;
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
    .popular_card_category_rating {
      display: flex;
      justify-content: space-between;
    }
    //   align-items: center;
    //   .popular_card_category{
    //     font-size: $font-small;
    //     font-family: $font-lato;
    //     font-weight: 400;
    //   }
    .popular_card_rating {
      display: flex;
      gap: 5px;
      p {
        font-size: $font-very-small;
      }
    }

    .popular_card_price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        gap: 15px;
        .old-price {
          text-decoration: line-through;
          color: #7e7e7e;
          font-size: $font-very-small;
          font-weight: 300;
        }
        .new-price {
          color: #3bb77e;
          font-weight: bolder;
          font-size: $font-body;
        }
      }
    }

    .add_to_cart_button {
      // display: flex;
      button {
        display: flex;
        gap: 5px;
        border: none;
        outline: none;
        background-color: #def9ec;
        color: #3bb77e;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
    .category_name {
      p {
        font-size: $font-body;
        font-family: $font-quicksand;
        font-weight: bolder;
      }
    }
    .popular_card_category {
      font-size: $font-very-small;
      font-family: $font-lato;
      font-weight: 300;
    }
  }
}
